/* filename: Lab4-form1.css */


/* author: Hanna Workneh */

header {
    position: fixed;
    top: 0;
    width: 200%;
    height: 20px;
    background-color: black;
    line-height: 50px;
}

.row {
    margin-top: 5%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 200%;
    height: 20px;
    background-color: black;
    line-height: 50px;
}